
<div class="mt-24 h-97 bg-slate-100 border border-solid  mx-8 px-3 py-2">
  <div class="w-full bg-blue-500 p-2">
    <h2 class="text-2xl text-white font-Montserrat ">{{hotel.name | titlecase}}</h2>
  </div>
  <div class="flex py-4   gap-8">
    <div class="h-96 w-98 pb-4">
      <img [src]="hotel.image" alt="hotel.name" class="h-full w-full">
    </div>
    <div class="w-72 leading-7 font-Montserrat  text-xl">
      <p>Description:</p>
      <p>Address:</p>
      <p>City:</p>
      <p>Phone:</p>
      <p>Email:</p>
      <p>Country:</p>
      <p>Price:</p>
    </div>
    <div class="flex flex-col leading-7 font-Montserrat  text-xl">
      <span class="text-hoveColor">{{hotel.description | titlecase |shorting }}</span>
      <span class="text-hoveColor">{{hotel.address}}</span>
      <span class="text-hoveColor">{{hotel.city}}</span>
      <span class="text-hoveColor">{{hotel.phone}}</span>
      <span class="text-hoveColor">{{hotel.email}}</span>
      <span class="text-hoveColor">{{hotel.country}}</span>
      <span class="text-blue-600 font-bold text-lg">{{hotel.price | currency}}</span>
      <div class=" flex gap-4 w-full h-28 pt-8" >
        <a routerLink="" class=" bg-red-400 w-28 text-center pt-4 h-14 rounded-lg font-bold text-lg text-white cursor-pointer border-none ">Back</a>
        <button class=" bg-blue-500  text-center py-1 h-14 px-2  rounded-lg font-bold text-lg text-white cursor-pointer border-none font-Montserrat">proceed to reservation</button>
      </div>
    </div>
  <!-- <app-start-reting [start]="hotel.start" (change)="NbStart($event)" ></app-start-reting> -->
  </div>
</div>
